{"content": "django>=5.0.0\ndjango-htmx>=1.17.2\nwhitenoise>=6.6.0\npython-dotenv>=1.0.0\ndjango-debug-toolbar>=4.2.0\ndjango-tailwind>=3.8.0\ndjango-browser-reload>=1.12.1\ndjango-compressor>=4.4\ndjango-rest-framework>=0.1.0\ngunicorn>=21.2.0", "encoding": "utf-8"}